body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("images/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    background: #92e38545;
    color: #1d7e03;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(35, 96, 12);
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.331);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

.Footer{
    color: rgb(213, 223, 208);
}